*{
    margin: 0;
    padding: 0;
}

.container{
    /* padding: 20px; */
    background-color: black;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content:center;
    /* margin: 0 auto; */
}

.left{
    padding: 20px;
    background-color : #003147;
    width: 35%;
    display: flex;
    flex-direction: column;
    color: white;
}

.right{
    padding: 20px;
    background-color: whitesmoke;
    width: 65%;
}

.profile-img img{
    height: 150px;
    width: auto;
    border-radius: 60%;
}

.profile-img{
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.contact {
    cursor: pointer;
    position: relative;
    left: 10px;
}

.contact ul li a {
    text-decoration: none;
    color: white;
}

.contact ul li {
    list-style: none;
}

.education {
    position: relative;
    left: 10px;
}
.skill {
    position: relative;
    left: 20px;
}
.language{
    position: relative;
    left: 20px;
}
.hobbies{
    position: relative;
    left: 20px;
}
